<h2 class="heading bold align-self-center">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <%= render 'public/error_field', resource: resource, attribute: :email %>
  </div>

  <div class="field">
    <%= f.label :username do %>
      Username
      <em class="small">(40 characters maximum)</em>
    <% end %>
    <%= f.text_field :username, autocomplete: "username", maxLength: 40 %>
    <%= render 'public/error_field', resource: resource, attribute: :username %>
  </div>

  <div class="field">
    <%= f.label :password do %>
      Password
      <% if @minimum_password_length %>
        <em class="small">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <%= render 'public/error_field', resource: resource, attribute: :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    <%= render 'public/error_field', resource: resource, attribute: :password_confirmation %>
  </div>

  <div class="actions align-self-center">
    <%= f.submit "Sign up" %>
    <span>or</span>
    <%= link_to 'Log In', new_user_session_path, class: 'bold' %>
  </div>
<% end %>
