<%= form_with model: event do |f| %>
  <div class="field">
    <%= f.label :name do %>
      Name
      <em class="small">(100 characters maximum)</em>
    <% end %>
    <%= f.text_field :name, autofocus: true, maxLength: 100 %>
    <%= render 'public/error_field', resource: event, attribute: :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, rows: '5' %>
    <%= render 'public/error_field', resource: event, attribute: :description %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
    <%= render 'public/error_field', resource: event, attribute: :location %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.datetime_field :start_date %>
    <%= render 'public/error_field', resource: event, attribute: :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.datetime_field :end_date %>
    <%= render 'public/error_field', resource: event, attribute: :end_date %>
  </div>

  <div class="actions align-self-center">
    <%= f.submit class: 'bold' %>
  </div>
<% end %>
