<%= image_tag 'https://source.unsplash.com/random/600x300?v=1', class: 'event-listing-bg-img', width: '98%', height: '55%' %>

<div class="event-listing flex column align-self-center">
  <div class="event-header">
    <%= image_tag 'https://source.unsplash.com/random/600x300?v=1', size: '600x300' %>

    <div class="pad-10 flex column gap-10 justify-between">
      <div class="flex justify-between">
        <p class="small bold"><%= @event.start_date.strftime('%d %b') %></p>

        <% if user_signed_in? && current_user == @event.host %>
          <div class="flex gap-5">
            <%= link_to edit_event_path(@event) do %>
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M12,15.5A3.5,3.5 0 0,1 8.5,12A3.5,3.5 0 0,1 12,8.5A3.5,3.5 0 0,1 15.5,12A3.5,3.5 0 0,1 12,15.5M19.43,12.97C19.47,12.65 19.5,12.33 19.5,12C19.5,11.67 19.47,11.34 19.43,11L21.54,9.37C21.73,9.22 21.78,8.95 21.66,8.73L19.66,5.27C19.54,5.05 19.27,4.96 19.05,5.05L16.56,6.05C16.04,5.66 15.5,5.32 14.87,5.07L14.5,2.42C14.46,2.18 14.25,2 14,2H10C9.75,2 9.54,2.18 9.5,2.42L9.13,5.07C8.5,5.32 7.96,5.66 7.44,6.05L4.95,5.05C4.73,4.96 4.46,5.05 4.34,5.27L2.34,8.73C2.21,8.95 2.27,9.22 2.46,9.37L4.57,11C4.53,11.34 4.5,11.67 4.5,12C4.5,12.33 4.53,12.65 4.57,12.97L2.46,14.63C2.27,14.78 2.21,15.05 2.34,15.27L4.34,18.73C4.46,18.95 4.73,19.03 4.95,18.95L7.44,17.94C7.96,18.34 8.5,18.68 9.13,18.93L9.5,21.58C9.54,21.82 9.75,22 10,22H14C14.25,22 14.46,21.82 14.5,21.58L14.87,18.93C15.5,18.67 16.04,18.34 16.56,17.94L19.05,18.95C19.27,19.03 19.54,18.95 19.66,18.73L21.66,15.27C21.78,15.05 21.73,14.78 21.54,14.63L19.43,12.97Z" />
              </svg>
            <% end %>

            <%= button_to @event, method: :delete, data: { turbo: false } do %>
              <svg style="width:24px;height:24px;" viewBox="0 0 24 24">
                <path fill="currentColor" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
              </svg>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="flex column gap-10">
        <h1 class="heading bold"><%= @event.name %></h1>

        <p class="small">hosted by <%= link_to @event.host.username, user_path(@event.host), class: 'bold' %></p>
      </div>

      <div>
        <% if user_signed_in? && current_user != @event.host && @event.start_date > Time.now.utc %>
          <%= form_with model: @event, class: 'event-registration' do |f| %>
            <%= f.submit (@event.attendees.include?(current_user) ? 'Unregister' : 'Register') %>
          <% end %>
        <% end %>

        <% if @event.start_date < Time.now.utc %>
          <span class="event-closed bold">Event registration is closed.</span>
        <% end %>
      </div>
    </div>
  </div>

  <% if @event.attendees.any? %>
    <div class="event-attendees flex gap-10 align-center">
      <% @event.attendees.limit(5).each do |attendee| %>
        <%= link_to(user_path(attendee), class: 'align-self-start') do %>
          <%= image_tag "https://source.unsplash.com/random/30x30?v=#{attendee.id}", size: '30x30', style: 'border-radius: 50%;' %>
        <% end %>
      <% end %>

      <p>
        <% if @event.attendees.size > 5 %>
          <%= link_to "+#{@event.attendees.size - 5} more users", event_attendees_path(@event) %>
        <% end %>
        are attending this event.
      </p>
    </div>
  <% end %>

  <div class="event-details flex justify-between">
    <div class="event-description flex column gap-10">
      <h3 class="bold">Description</h3>
      <p class="small"><%= @event.description %></p>
    </div>
    
    <aside class="flex column gap-40">
      <div class="flex gap-10">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z" />
        </svg>

        <div class="location flex column gap-10">
          <h3 class="bold">Location</h3>
          <p class="small"><%= @event.location %></p>
        </div>
      </div>

      <div class="flex gap-10">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M9,10H7V12H9V10M13,10H11V12H13V10M17,10H15V12H17V10M19,3H18V1H16V3H8V1H6V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3M19,19H5V8H19V19Z" />
        </svg>

        <div class="date flex column gap-10">
          <h3 class="bold">Date</h3>
          <p class="small">
            <% if @event.start_date.beginning_of_day == @event.end_date.beginning_of_day %>
             <%= @event.start_date.strftime('%a %b %e %Y %H:%M - ') %><%= @event.end_date.strftime('%H:%M UTC') %>
            <% else %>
              <%= @event.start_date.ctime %> -</br > <%= @event.end_date.ctime %> UTC
            <% end %>
          </p>
        </div>
      </div>
    </aside>
  </div>
</div>
