<h2 class="heading bold align-self-center">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <%= render 'public/error_field', resource: resource, attribute: :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" %>
    <%= render 'public/error_field', resource: resource, attribute: :password %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field flex gap-5 align-center">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions align-self-center">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<div class="flex column gap-10 align-center align-self-center">
  <%= link_to 'Sign Up', new_user_registration_path %>
  <%= link_to 'Forgot Your Password?', new_user_password_path %>
</div>
