<!DOCTYPE html>
<html>
  <head>
    <title>Private Events</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex column">
    <%= render 'layouts/header' %>

    <% if flash.any? %>
      <div class="flash-messages pad-10 align-self-center">
        <% flash.each do |type, msg| %>
          <% if %w[ alert notice ].include?(type) %>
            <p class="<%= type %>"><%= msg %></p>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <main class="pad-20 flex column gap-20">
      <%= yield %>
    </main>
  </body>
</html>
